<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
<head>
  <script src="/static/js/color-modes.js"></script>
  <meta charset="UTF-8">
  <title th:text="${title}"></title>
  <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/style/sign.css" rel="stylesheet">
</head>

<body>

<main class="form-signin w-100 m-auto">

  <form name="login" th:action="@{/perform-login}" method="post">

    <h1 class="h3 mb-3 fw-normal">Вход в систему</h1>

    <div th:if="${errorMessage} and ${param.error}" class="alert alert-danger"
         th:text="${errorMessage}"></div>

    <div th:if="${param.logout}" class="alert alert-success">
      Вы вышли из системы.
    </div>

    <div class="form-floating">
      <input type="text" id="username" name="username"
             class="form-control form-control-lg"/>
      <label class="form-label" for="username">
        Имя пользователя или Email
      </label>
    </div>

    <div class="form-floating">
      <input type="password" id="password" name="password"
             class="form-control form-control-lg"/>
      <label class="form-label" for="password">Пароль</label>
    </div>

    <button class="btn btn-primary w-100 py-2 mb-4" type="submit">Войти</button>

    <div class="mb-1"><a class="small text-muted" href="#!">Забыли пароль?</a></div>
    <a href="/signup">Зарегистрироваться</a>
  </form>

</main>

<script src="/static/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
