<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
<head>
  <script src="/static/js/color-modes.js"></script>
  <meta charset="UTF-8">
  <title th:text="${title}"></title>
  <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/style/sign.css" rel="stylesheet">
</head>
<body>

<main class="form-signup w-100 m-auto">

  <form name="login" th:action="@{/signup}" method="post">

    <div class="h3 mb-3 fw-normal">Регистрация</div>

    <div th:if="${(param.error !=null) and (param.error[0] == 'exists')}"
         class="alert alert-danger">
      Имя пользователя или Email уже существуют в системе
    </div>
    <div th:if="${(param.error !=null) and (param.error[0] == 'unexpected')}"
         class="alert alert-danger">
      Произошла непредвиденная ошибка. Попробуйте позже
    </div>

    <div class="form-floating">
      <input required minlength="3" maxlength="32"
             type="text" id="username" name="username"
             class="form-control form-control-md"/>
      <label class="form-label" for="username">Имя пользователя (логин)</label>
    </div>

    <div class="form-floating">
      <input required maxlength="128" type="text" id="firstname" name="firstname"
             class="form-control form-control-md"/>
      <label class="form-label" for="firstname">Имя</label>
    </div>

    <div class="form-floating">
      <input required maxlength="128" type="text" id="lastname" name="lastname"
             class="form-control form-control-md"/>
      <label class="form-label" for="lastname">Фамилия</label>
    </div>

    <div class="form-floating">
      <input required type="email" id="email" name="email"
             class="form-control form-control-md"/>
      <label class="form-label" for="email">Email</label>
    </div>

    <div class="form-floating">
      <input required minlength="6" maxlength="32" type="password" id="password"
             name="password"
             class="form-control form-control-md"/>
      <label class="form-label" for="password">Пароль</label>
    </div>

    <button class="btn btn-primary w-100 py-2 mb-4" type="submit">Регистрация</button>

    <p class="mb-5 pb-lg-2">Уже зарегистрированы?
      <a href="/login">Войти</a>
    </p>
  </form>

</main>

<script src="/static/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
